body {
    margin: 0 10%;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(154, 146, 140, 0.221);
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    background-color: white;
    width: 80%;
    height: 64px;
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 24px;
}

nav ul li {
    display: inline-block;
    padding: 16px 16px;

}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.logo {
    height: 32px;
    float: left;
    margin-left: 24px;
}

.banner {
    display: flex;
}

.banner img {
    width: 60%;
    height: auto;
    margin: 96px 24px 32px;
    display: inline-block;
    /* float: left; */
}

.banner .banner-intro {
    width: 30%;
    height: auto;
    display: inline-block;
  
    margin: 96px 0px 32px;  
    
}

.banner .banner-intro h1 {
    /* position: relative; */
    /* top: 50%; */
    
}

.banner .banner-intro h5 {
    font-size: 20px;
    /* position: relative; */
  /* top: 50%; */
}

.banner .banner-intro .start-button {
    background-color: rgb(57, 54, 54);
    color: honeydew;
    width: 70%;
    padding: 16px 0;
    /* position: relative; */
    /* top: 50%; */
   
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
   
}




